/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font: 300 12px 'Open Sans', sans-serif; background:#fff; color:#333; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px 'Open Sans', sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-header {
    background: url("../images/header/bg_header.jpg") no-repeat center;
}
    .wrap-header-top {
        background: rgba(0, 0, 0, 0.6);
    }
        .header-top {
            overflow: hidden;
            width: 940px;
            padding: 3px 0;
            margin: 0 auto;
            color: #e0e1e2;
            font-size: 20px;
        }
            .main-logo {
                overflow: hidden;
                float: left;
                width: 170px;
                height: 60px;
            }
                .main-logo a {
                    font-size: 40px;
                    font-weight: 300;
                    color: #e0e1e2;
                    text-decoration: none;
                }
                    .main-logo img {
                        width: 170px;
                        height: 60px;
                    }
            .contact-box {
                float: right;
                margin-top: 17px;
            }
                .contact-box li {
                    float: left;
                    margin-left: 45px;
                }
                .contact-box li:first-child {
                    margin-left: 0;
                }
            .name-city {
                display: block;
                margin-top: 17px;
                text-align: center;
            }
    .form-box {
        overflow: hidden;
        width: 940px;
        margin: 0 auto;
        padding: 90px 0 70px;
    }
        .header-site {
            margin-bottom: 45px;
            font-size: 40px;
            font-weight: bold;
            color: #333;
            letter-spacing: -2px
        }
        .wrap-form {
            float: left;
            width: 345px;
            padding: 20px 40px 25px;
            background: rgba(0, 0, 0, 0.6);
            text-align: center;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
            .description-form,
            .wrap-form .text {
                display: inline-block;
                margin-bottom: 25px;
                font-size: 25px;
                color: #fff;
            }
            .common-form {
                margin-bottom: 17px;
            }
                .common-form input {
                    display: block;
                    height: 33px;
                    width: 330px;
                    padding: 0 0 0 15px;
                    margin-bottom: 13px;
                    font-size: 15px;
                    border: none;
                }
                .btn-submit,
                .common-form .btn-submit {
                    width: 235px;
                    height: 55px;
                    color: #fff;
                    font: 300 25px 'Open Sans', sans-serif;
                    border: none;

                    background: #0099ff; /* Old browsers */
                    background: -moz-linear-gradient(top,  #0099ff 0%, #0066cd 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099ff), color-stop(100%,#0066cd)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  #0099ff 0%,#0066cd 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  #0099ff 0%,#0066cd 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  #0099ff 0%,#0066cd 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  #0099ff 0%,#0066cd 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099ff', endColorstr='#0066cd',GradientType=0 ); /* IE6-9 */
                }
                .common-form .btn-submit {
                    width: 345px;
                }
                .btn-submit:hover {
                    background: #0066CD;
                }
            .wrap-form .text {
                font-size: 20px;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {}
    .box-fear {}
        .box-fear .wrap-top {
            position: relative;
            height: 470px;
        }
            .box-fear .content {
                width: 940px;
                margin: 0 auto;
            }
                .img-man,
                .img-bus {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                .wrap-top .box-text {
                    float: right;
                    width: 520px;
                    margin-top: 90px;
                }
                    .header-section {
                        margin-bottom: 20px;
                        font-size: 50px;
                        font-weight: 300;
                    }
                    .box-text p {
                        font-size: 20px;
                        line-height: 1.2;
                    }
        .box-fear .wrap-bottom {
            position: relative;
            height: 495px;
            background: #F7F7F7;
        }
                .img-bus {
                    top: 85px;
                    left: auto;
                    right: 0;
                }
                .wrap-bottom .box-text {
                    float: left;
                    width: 475px;
                    margin-top: 90px;
                }
                    .wrap-bottom .btn-submit {
                        margin-top: 40px;
                    }
    .box-benefits {
        overflow: hidden;
        width: 940px;
        margin: 0 auto;
        padding: 85px 0 25px;
    }
        .list-benefits {
            overflow: hidden;
            margin-bottom: 115px;
            text-align: center;
        }
            .list-benefits li {
                display: inline-table;
                width: 210px;
                margin-left: 25px;
            }
            .list-benefits li:first-child {
                margin-left: 0;
            }
                .list-benefits li strong {
                    display: block;
                    font-size: 50px;
                    font-weight: 300;
                }
                .list-benefits li span {
                    display: block;
                    font-size: 14px;
                }
        .size-advertising {
            float: left;
            position: relative;
            width: 325px;
            height: 305px;
            margin-left: 6px;
            text-align: center;

            -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.5);
            -moz-box-shadow:    0 0 10px 0 rgba(50, 50, 50, 0.5);
            box-shadow:         0 0 10px 0 rgba(50, 50, 50, 0.5);
        }
            .size-advertising header {
                margin-top: 30px;
                font-size: 100px;
                color: #ccc;
                line-height: 1;
            }
            .size-advertising span {
                font-size: 25px;
                color: #999;
            }
        .box-benefits .content .box-text {
            float: right;
            width: 482px;
        }
            .wrap-input {
                margin-top: 40px;
            }
                .btn-callback {
                    width: 233px;
                    height: 55px;
                    margin-left: 5px;
                    font-size: 25px;
                    color: #ccc;
                    background: transparent;
                    border: 2px solid #F2F0F0;
                    cursor: pointer;
                }
    .box-slider {
        padding: 45px 0 15px;
        background: #F7F7F7;
    }
    .box-services {
        width: 940px;
        margin: 0 auto;
    }
        .list-services {
            overflow: hidden;
            margin: 30px 0 55px;
        }
            .box-services li {
                float: left;
                width: 160px;
                margin-left: 20px;
                text-align: center;
            }

                .box-services li .wrap-icon {
                    display: table;
                    width: 110px;
                    height: 110px;
                    margin: 0 auto 15px;
                    border: 1px solid #DFDEDE;

                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                }
                    .box-services li .wrap-icon span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                .box-services li .description {
                    font-size: 17px;
                    color: #333;
                }
    .box-bonuses {
        padding: 70px 0;
        text-align: center;
        background: #F7F7F7;
    }
        .box-bonuses header {
            text-transform: uppercase;
            font-size: 40px;
        }
            .box-bonuses header span {
                color: #00ccff;
            }
        .list-bonuses {
            overflow: hidden;
            width: 940px;
            margin: 0 auto 35px;
        }
            .list-bonuses li {
                float: left;
                width: 220px;
                margin-left: 10px;
                text-align: center;
                line-height: 1.2;
            }
            .list-bonuses li:first-child {
                margin-left: 0;
            }
                .list-bonuses li strong {
                    display: block;
                    color: #ccc;
                    font-size: 100px;
                    font-weight: 300;
                }
                .list-bonuses li span {
                    font-size: 20px;
                    color: #999;
                }
    .box-questions {
        width: 940px;
        min-height: 646px;
        margin: 0 auto;
        padding-top: 65px;
    }
        .box-questions .header-section {
            margin-bottom: 55px;
            text-align: center;
        }
        .list-questions {
            position: absolute;
            margin: 55px 0 75px;
        }
            .list-questions li {
                width: 335px;
                padding: 25px 20px;
            }
                .list-questions .question {
                    display: block;
                    margin-bottom: 5px;
                    color: #33ccff;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .list-questions .sub-question {
                    color: #999;
                    font-size: 18px;
                    text-transform: uppercase;
                }
            .list-questions .active {
                background: #33CCFF;

                -webkit-border-top-left-radius: 10px;
                -webkit-border-bottom-left-radius: 10px;
                -moz-border-radius-topleft: 10px;
                -moz-border-radius-bottomleft: 10px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
                .list-questions .active .question {
                    color: #fff;
                }
                .list-questions .active .sub-question {
                    color: #fff;
                }
        .box-answer {
            position: relative;
            float: left;
            width: 626px;
            height: 418px;
            margin: 0 0 105px 375px;
            background: url("../images/content/wrap_tv_top.png") no-repeat;
        }
        .box-answer:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -31px;
            left: -70px;
            width: 767px;
            height: 31px;
            background: url("../images/content/wrap_tv_bottom.png") no-repeat;
        }
            .box-answer .text {
                float: left;
                width: 280px;
                margin: 55px 0 0 55px;
                font-size: 16px;
                color: #666;
            }
                .box-answer .text p {
                    margin-bottom: 20px;
                    line-height: 1.2;
                }
            .box-answer img {
                float: right;
                margin: 70px 35px 0 0;
            }
    .box-history {
        position: relative;
        width: 940px;
        margin: 0 auto;
        padding: 150px 0 80px;
    }
        .box-history .box-text {
            width: 580px;
        }
            .box-history .box-text .header-section {
                line-height: 1.2;
            }
            .box-history .box-text p {
                margin-bottom: 25px;
            }
            .box-history .btn-callback {
                margin-left: 25px;
            }
        .box-history img {
            position: absolute;
            bottom: 0;
            right: -50px;
        }

    .box-reviews {
        padding: 55px 0 75px;
    }
        .wrap-comment {
            overflow: hidden;
            width: 940px;
            margin: 0 auto;
        }
            .comment-box {
                float: left;
                width: 48%;
                text-align: center;
            }
                .comment-box img {
                    margin-bottom: 10px;
                }
                .comment-box hgroup {
                    margin-bottom: 35px;
                }
                    .comment-box header {
                        color: #33ccff;
                        font-size: 25px;
                        line-height: 1.1;
                    }
                        .comment-box h2 {
                            font-size: 15px;
                            font-weight: 300;
                            color: #999999;
                            line-height: 1.1;
                        }
                .comment-box .text {
                    position: relative;
                    padding-top: 8px;
                }
            .comment-box .text:before,
            .comment-box .text:after {
                content: '"';
                display: block;
                position: absolute;
                top: -55px;
                font-size: 80px;
                font-weight: bold;
                color: #33ccff;;
            }
            .comment-box .text:before {
                left: -2px;
            }
            .comment-box .text:after {
                right: -5px;
            }
                .comment-box p {
                    overflow: auto;
                    max-height: 340px;
                    padding: 0 20px;
                    font-size: 18px;
                    color: #999999;
                    line-height: 1.2;
                    text-align: justify;
                }
                    .comment-box p a {
                        font-size: 16px;
                        color: #868585;
                    }
.bg-grey {
    background: #F7F7F7;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    position: relative;
    height: 478px;
}
    .wrap-map {
        margin-right: 500px;
    }

    .wrap-contacts {
        position: absolute;
        top: 70px;
        left: 90px;
        width: 270px;
        height: 280px;
        padding: 27px 40px 43px;
        background-color: #ffffff;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        -webkit-box-shadow: 0 0 20px 1px rgba(175, 175, 175, 1);
        -moz-box-shadow: 0 0 20px 1px rgba(175, 175, 175, 1);
        box-shadow: 0 0 20px 1px rgba(175, 175, 175, 1);
    }
        .wrap-contacts h3 {
            margin-bottom: 11px;
            font-size: 35px;
            font-weight: 300;
            color: #666666;
        }
        .wrap-contacts dl {
            margin-bottom: 34px;
            font-size: 20px;
            line-height: 24px;
            color: #333333;
        }
            .wrap-contacts dt {
                float: left;
                margin-right: 5px;
                color: #999999;
            }
            .wrap-contacts dd {
                margin-bottom: 26px;
            }
        .wrap-contacts .btn-submit {
            height: 40px;
            width: 165px;
            font-size: 18px;
        }

    .foot-right-block {
        position: absolute;
        top: 0;
        right: 0;
        width: 440px;
        padding: 20px 30px;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------RESPONSIVE-----------------------------------*/
/*----------------------------------------------------------------------------------*/
#container {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

#carousel {
    width: 780px;
    margin: 0 auto;
}

#ui-carousel-next, #ui-carousel-prev {
    width: 60px;
    height: 475px;
    background: url(../images/slider/arrow-left.png) center center no-repeat;
    display: block;
    position: absolute;
    top: 0;
    z-index: 100;
}

#ui-carousel-next {
    right: 0;
    background-image: url(../images/slider/arrow-right.png);
}

#ui-carousel-prev {
    left: 0;
}
#ui-carousel-next span,
#ui-carousel-prev span {
    display: none;
}

.slide {
    margin: 0;
    position: relative;
    text-align: center;
}
    .slide .top-text,
    .name-auto {
        display: block;
    }
    .slide .top-text {
        margin-bottom: 25px;
    }
        .slide .top-text strong {
            display: block;
            font-size: 50px;
            font-weight: 300;
            color: #999;
            line-height: 1;
        }
        .slide .top-text span,
        .name-auto {
            font-size: 25px;
            color: #999;
        }
        .name-auto {
            margin-top: 15px;
        }
    .slide .wrap-foto {
        display: inline-block;
        width: 550px;
        height: 310px;
    }
        .slide .wrap-foto span {
            display: table-cell;
            height: 310px;
            vertical-align: middle;
        }
        .slide .wrap-foto img {
            width: 100%;
            height: 100%;
        }
#pages {
    width: 150px;
    margin: 0 auto;
}

.ui-carousel {
    height: 100px;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: relative; /*for ie7 to work e.g in html carousels*/
    width: 300px
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
    border: 0;
    display: block;
    float: left;
    height: 100px;
    overflow: hidden;
    width: 100px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------RESPONSIVE-----------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 1280px) {
    .wrap-header {
        background-size: 100% 100%;
    }
}
